html
	head
		title= title
		link(rel='stylesheet' type='text/css' href='style.css')
		script(src="client.js")
	body
	h1= message
	
	div(class='block')
		block first
	div(class='block')
		block second
	div(class='block of-3')
		block third
	div(class='block of-3')
		block third
	div(class='block of-3')
		block third