html
	head
		title= title
		link(rel='stylesheet' type='text/css' href='style.css')
		script(src="client.js")
	body
	h1= message
	
	div(class='block' data-fetch='firstblock')
		block first
	div(class='block' data-fetch='secondblock')
		block second
	div(class='block of-3' data-fetch='thirdblock')
		block third
	div(class='block of-3' data-fetch='thirdblock')
		block third
	div(class='block of-3' data-fetch='thirdblock')
		block third