:root {
	--accent-bg-color: #a8d186;
    --accent-txt-color: #313131;
	--main-font: 'Tajawal', sans-serif;
}  

.block {
	padding: 10px;
}

.block > * {
	transform-origin: center top;
	transition: opacity .3s;
	opacity: 0;
}

.block--loaded > * {
	animation: block-content-loading .3s .1s forwards;
}

@keyframes block-content-loading { 
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.block--of-3 {
	width: calc(100% / 3);
	display: inline-block;
	box-sizing: border-box;
}

.block--loading::after,
.block--loading::before {
	background: linear-gradient(269deg, #d9d9d9, #bfbfbf);
    background-size: 500% 500%;
    transition: background 1s, color 1s;
    will-change: background, color;
	animation: font-family-loading 2s ease infinite;
	color: transparent;
	line-height: 1.8em;
}

@keyframes font-family-loading { 
	0%{ background-position:0% 50%; }
	50%{ background-position:100% 50%; }
	100%{ background-position:0% 50%; }
}

.block--with-image.block--loading::before {
	display: block;
	content: '';
	width: 100%;
	padding-bottom: 40%;
	margin-bottom: 1em;
}

.block--with-title.block--loading::before {
	content: 'Hymenaeos primis pulvinar pulvinar sit purus.';
	display: block;
    width: max-content;
    height: 1em;
    margin: .4em 0 .8em;
}

.block--loading::after {
	content: 'Pharetra aenean mollis justo quis ipsum libero fusce ornare porta penatibus urna netus primis tempor. Hymenaeos primis pulvinar pulvinar sit purus hendrerit molestie sit facilisi dapibus penatibus quam elementum. Pretium.';
}

.header {
	position: fixed;
	height: 60px;
	z-index: 1;
	background-color: var(--accent-bg-color);
	width: 100%;
	text-align: center;
	overflow: hidden;
}

.header__title {
	line-height: 60px;
	color: var(--accent-txt-color);
	top: 5px;
}

main {
	margin: 80px auto 0;
	max-width: 1000px;

}

p {
	margin-top: .75em;
}

img {
	padding: .5em 0;
}
